<h1>RECIPEBOX!</h1>
<h2>Our Recipes:</h2>


Are you logged in? {{ request.user.is_authenticated }}
<br>

<a href ="{% url 'login_url'%}"><button>Login Here! </button></a>
<br>
<a href="{% url 'logout_url' %}"><button>Logout!</button></a>
<br>

<a href = "{% url 'add_author'%}">Add Author!</a> | <a href = "{% url 'add_recipe'%}">Add Recipe!</a>
<ul>
    {% for recipe in data %}
        <li>
        <h2><a href="{% url 'recipe_url' id=recipe.id%}">{{recipe.title}} </a></h2>
        </li>
    {% endfor %}
</ul>